@page "/"

<div class="people">

    <h1>Welcome!</h1>

    <ul class="people-list">
        <li class="person">
            <NavLink href="chat" style="color: #fff;">Go to chat</NavLink>
        </li>
    </ul>

</div>
