@inherits DataComponent<RenameSessionMutation>

@if (Session is not null)
{
    <h2>EditSession</h2>

    <br />
    <p>Edit Session Title:</p>
    <input @bind-value="@title" />
    <button @onclick="OnSaveTitle">Save</button>
}

@code {
    private string title;
    private ISessionInfo session;
    
    [Parameter]
    public EventCallback<ISessionInfo> OnSessionRenamed { get; set; }

    [Parameter]
    public ISessionInfo Session
    {
        get => session;
        set
        {
            session = value;
            title = session?.Title;
        }
    }
    
    private async Task OnSaveTitle()
    {
        await ClientOrOperation.ExecuteAsync(
            new RenameSessionInput
            {
                SessionId = session.Id, 
                Title = title
            });

        await OnSessionRenamed.InvokeAsync(session);
    }
}