<div class="people">
  <div class="people-filter">
    <input class="people-filter-input" type="text" placeholder="search" />
    <span class="people-filter-icon fa fa-search"></span>
  </div>
  <ul class="people-list">
      <PersonPlaceholder />
      <PersonPlaceholder />
      <PersonPlaceholder />
  </ul>
</div>

