@inherits DataComponent<RenameSessionMutation>

@code {
    private string title;
    private ISessionInfo session;

    [Parameter]
    public EventCallback<ISessionInfo> OnSessionRenamed { get; set; }

    [Parameter]
    public ISessionInfo Session
    {
        get => session;
        set
        {
            session = value;
            title = session?.Title;
        }
    }

    private async Task OnSaveTitle()
    {
        await Operation.ExecuteAsync(
            new RenameSessionInput
            {
                SessionId = session.Id, 
                Title = title
            });

        await OnSessionRenamed.InvokeAsync(session);
    }
}

@if (Session is not null)
{
    <h2>Edit Session</h2>

    <br />
    <p>Edit Session Title:</p>
    <input @bind-value="@title" />
    <button @onclick="OnSaveTitle">Save</button>
    <button @onclick="() => Session = null">Cancel</button>
}