<div class="chat-header">
  <img
    class="chat-avatar--@GetStatus(Recipient)"
    src="@GetPicture(Recipient)"
    alt="avatar"
  />
  <div class="chat-about">
      @if(Recipient is { }) 
      {
      <div class="chat-with">Chat with @Recipient.Name</div>
      <div class="chat-num-messages">already @Messages.Count messages</div>
      }
  </div>
  <span class="favorite-icon fa fa-star"></span>
</div>

@code {
    [Parameter]
    public IPerson? Recipient { get; set; }

    [Parameter]
    public ImmutableList<IMessage> Messages { get; set; } = ImmutableList<IMessage>.Empty;

    private static string GetStatus(IPerson? participant)
    {
        return participant?.IsOnline ?? false == true
            ? "online"
            : "offline";
    }

    public static string GetPicture(IPerson? person)
    {
        return person != null 
          && person.ImageUri != null 
          && String.IsNullOrEmpty(person.ImageUri.ToString()) == false
            ? person.ImageUri.ToString()
            : "img/chillicream-logo.svg";
    }
}