@page "/Sessions"

@code {
    private string after = null;
}

<GetSessionsRenderer Strategy="ExecutionStrategy.CacheFirst" After="@after">
    <Content>
        <SessionList Sessions="context.Sessions!.Nodes" />
        <button @onclick="() => { after = context.Sessions.PageInfo.EndCursor; StateHasChanged(); Console.WriteLine(after); }">Next</button>
    </Content>
</GetSessionsRenderer>