@page "/Sessions"

@code {
    private string after;
    private ISessionInfo selectedSession;
}

<GetSessionsRenderer Strategy="ExecutionStrategy.CacheFirst" After="@after">
    <Content>
        <SessionList Sessions="context.Sessions!.Nodes" OnSessionSelected="session => selectedSession = session" AllowSelect="true" />
        <RenameSession Session="selectedSession" OnSessionRenamed="_ => selectedSession = null" />
        <button @onclick="() => after = context.Sessions.PageInfo.EndCursor">Next</button>
    </Content>
</GetSessionsRenderer>