@inherits DataComponent<RenameSessionMutation>

@code {
    private string title;
    private ISessionInfo session;

    [Parameter]
    public ISessionInfo Session
    {
        get => session;
        set
        {
            session = value;
            title = session?.Title;
        }
    }

    [Parameter]
    public EventCallback Completed { get; set; }

    private async Task OnSaveTitle()
    {
        await Operation.ExecuteAsync(
            new RenameSessionInput
            {
                SessionId = session.Id,
                Title = title
            });

        await Completed.InvokeAsync();
    }
}

@if (Session is not null)
{
    <h2>Edit Session</h2>

    <br/>
    <p>Edit Session Title:</p>
    <input @bind-value="@title"/>
    <button @onclick="OnSaveTitle">Save</button>
    <button @onclick="() => Completed.InvokeAsync()">Cancel</button>
}