<div class="people">
  <div class="people-filter">
    <input class="people-filter-input" type="text" placeholder="search" />
    <span class="people-filter-icon fa fa-search"></span>
  </div>
  <ul class="people-list">
    @if (IsLoading)
    {
      <PersonPlaceholder />
      <PersonPlaceholder />
      <PersonPlaceholder />
    }
    else if (Users is not null)
    {
      @foreach (var user in Users)
      {
        <PersonItem
          @key="user.Email"
          User="@user"
          ClickUser="ClickUser" />
      }
    }
  </ul>
</div>

@code {
    [Parameter]
    public EventCallback<IUser> ClickUser { get; set; }

    [Parameter]
    public bool IsLoading { get; set; }

    [Parameter]
    public IReadOnlyList<IUser>? Users { get; set; }
}
