<li class="person--IsNOTRecipient" 
    @onclick="OnClickPerson">
    <img class="person-avatar"
         src="img/chillicream-logo.svg"
         alt="person-avatar" />
    <div class="person-about">
        <div class="person-name">@User.Name</div>
        <div class="person-status">
            <span class="status-icon--@GetStatus(User) fa fa-circle"></span>
            @if (@User.IsOnline)
            {
                <span class="status-text">@GetStatus(User)</span>
            }
            else
            {
                <span class="status-text">@User.LastSeen</span>
            }
        </div>
    </div>
</li>

@code {
    [Parameter]
    public EventCallback<IPerson> ClickPerson { get; set; }

    [Parameter]
    public IPerson User { get; set; }

    private async Task OnClickPerson()
    {
        if (ClickPerson.HasDelegate)
        {
            await ClickPerson.InvokeAsync(User);
        }
    }

    private static string GetStatus(IPerson? person)
    {
        return person != null && person.IsOnline == true
            ? "online"
            : "offline";
    }
}
