<li class="person--IsRecipient">
    <img class="person-avatar"
         src="img/chillicream-logo.svg"
         alt="person-avatar" />
    <div class="person-about">
        <div class="person-name">User.Name</div>
        <div class="person-status">
            <span class="status-icon--online fa fa-circle"></span>
            <span class="status-text">User.LastSeen</span>
        </div>
    </div>
</li>